<a href="/">Home</a>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p><h3><a href="/peer">Student A</a></h3><br>
<h3><a href="/peer">Student B</a></h3><br>
<h3><a href="/peer">Student C</a></h3><br>
</p>

<a href="/select-class">Back</a>