<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", inital-scale="1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Grouper <span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/my-profile">My Profile</a></li>
            <li><a href="/setttings">Settings</a></li>
            <li><a href="/signin">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

		<div class="home">
	    <h1 class="page-header">Hello, David</h1>

	    <div class="row placeholders">
	    	<center>Search for a course or pick one from below.<br>
	    		<input type="text" name="search" placeholder="e.g. Course A"><br>
				</center>
			</div>

			<div class="row placeholders">
				<form action="">
					<div align="left"><select name="subjects">
	    				<option value="BIOL">BIOL</option>
	    				<option value="COGS">COGS</option>
	    				<option value="CSE">CSE</option>
	    				<option value="ECE">ECE</option>
	 				</select></div>

					<div align="right"> <input type="checkbox">LD <input type="checkbox">UD <input type="checkbox">GD </div>
				</form>
			</div>

	    <div class="row placeholders">
				{{#each courses}}
	      <div class="col-xs-12 col-sm-6 col-md-4 placeholder">
					<div class="center-block panel panel-default course-panel">
						<div class="panel-heading">
							<a href={{url}}><h3 class="panel-title">{{id}}</h3></a>
						</div>
						<div class="panel-body">
		        	<span class="text-muted">{{title}}</span>
						</div>
					</div>
	      </div>
				{{/each}}
	    </div>
		</div>
  </div>

  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
