<!DOCTYPE html>

<body>
  <a href="/">Home</a>

  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  <a href="/my-profile">My Profile</a>
  <br>
  <a href="/course/A">Class A</a>
  <a href="/course/B">Class B</a>
  <a href="/course/C">Class C</a>
</body>
