<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", inital-scale="1.0">
</head>

<body>
<h1>Skeleton mapping</h1>
	<a href="/">Go back to Index</a>
	<ul>
		<li><a href="/">Home page</a></li>
		<li><a href="/my-profile">Edit profile</a></li>

		<li><a href="/course/A">Course A</a></li>
		<li><a href="/course/B">Course B</a></li>
		<li><a href="/course/C">Course C</a></li>

		<li><a href="/course/A/peer/A">Peer A</a></li>
		<li><a href="/course/A/peer/B">Peer B</a></li>
		<li><a href="/course/A/peer/C">Peer C</a></li>

	</ul>
</body>
</html>