body {
  padding: 50px;
}

/* Home */
.navbar-fixed-top {
  border: 0;
}
.home {
  padding: 20px;
}
.home .page-header {
  margin-top: 0;
  text-align: center;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.course-panel {
  height: 200px;
}

/* Profile */
.profile {
  padding: 20px;
}
