body {
  padding: 50px;
}

/* Home */
.navbar-fixed-top {
  border: 0;
}
.home {
  padding: 20px;
}
.home .page-header {
  margin-top: 0;
  text-align: center;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.course-panel {
  height: 200px;
}

.home .modal {
  padding-top: 100px;
  position:fixed;
  top:0;right:0;bottom:0;left:0;
  z-index:1050;
  display:none;
  overflow:hidden;-webkit-overflow-scrolling:touch;
  outline:0;
}

/* Profile */
.profile .row {
  margin-top: 20px;
}


/* Course */
.course .modal {
  padding-top: 100px;
  position:fixed;
  top:0;right:0;bottom:0;left:0;
  z-index:1050;
  display:none;
  overflow:hidden;-webkit-overflow-scrolling:touch;
  outline:0;
}

#peer-list {
  margin-top: 25px;
}

/* Peer */
.peer .row {
  margin-top: 20px;
  margin-bottom: 10px;
}

.peer .row-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-times {
  width:33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 30px;
}

.edit-btn {
  margin-top: 30px;
}

.edit-image {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.edit-image:hover {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modal-title {
  float: left;
}

.img-title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.close {
  float: right;
}

.schedule {
  margin-top: 15px;
}